<body>
    <img  src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.15752-9/83192117_3084211994958247_4167194707014006045_n.png?_nc_cat=100&_nc_sid=b96e70&_nc_ohc=yBQTeGp7VfUAX8DCyes&_nc_ht=scontent-otp1-1.xx&oh=dfc20dd3de5aa7b25dc2b47fed994dad&oe=5F0AC82C" alt="quiz" >

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <label for="reset">Reset Password</label>
                <input type="email" id="reset" class="form-control" placeholder="Email Address" #passwordResetEmail required>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-primary" (click)="auth.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <span routerLink="/login">Go back to Login</span>
        </div>
    </div>

</body>
