* {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

body {
  
    background-color: #202849;
    height: 120vh;
    
}

label {
    margin-bottom: 5px;
    margin-top: 10px
}

input[type="text"],
input[type="password"], 
input[type="email"],
input[type="tel"] {
    margin: auto;
    border: 2px solid #01b2de;
    background-color: #202849 !important;
}

select {
    margin: auto;
    border: 2px solid #01b2de;
    background-color: #202849 !important;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #01b2de;
    font-size: 20px;
    margin-top: 20px;
    color: white;
}

span {
    display: block;
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 19px;
    font-size: 17px;
}