<!-- <div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary" (click)="onNewQuestion()">New Question</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-question-item 
            *ngFor="let questionEl of questions; let i = index" 
            [question] = "questionEl"
            [index]="i"></app-question-item>
    </div>
</div> -->

<div class="row">
    <div class="col-12">
        <button class="btn btn-primary" (click)="onNewQuestion()">New Question</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <app-question-item 
        *ngFor="let question of questions; let i = index" 
        [question] = "question"
        [index]="i"></app-question-item>
        
    </div>
</div>


