* {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}


:host > * {
    background-color: #202849;  
    
}

.imgStart {
    width: 270px;
    height: 300px;
    padding-top: 26px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.coutdown {
    font-size: 20px;
    margin-left: 170.5px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
}

button {
    margin-left: 10px;
    margin-top: 10px;
}

.btn-warning {
    margin-top: 10px;
    width: 250px;
}

img {
    width: 270px; 
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}



h3,h2 {
    text-align: center;
}

.nextButton {
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



.buttonCheck {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.myClass {
    background-color : red;
}

.textScore {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 50px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 20px;
}

.forgotPassword {
    color: blue;
    text-align: center;
    margin-top:10px;
}

.checkboxStyle {
    width: 75%;
    font-size: 22px;
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid #1b4266;
    padding: 10px;
    border-radius: 10px;
}


input {
    display: inline-block;
    right: 5px;
    height: 22px;
    width: 22px;  
    background-color: red;
    margin-right: 10px;
    border: 1px solid blue;
    border-radius: 50%;
}

.btn {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #01b2de;
    font-size: 20px;
}

span {
    display: block;
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font-size: 17px;
}

.showExamResult {
    height: 100vh;
    background-color: #1b4266;
    
}


